body {
    background: #f3f3f3;
    font-family: Helvetica, sans-serif;
    width: 900px;
    margin: auto auto 80px;
}

h3.header {
    text-align: center;
    margin-top: 1.5em;
}

.card {
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 10px !important;
}

.card label {
    margin-bottom: 7px;
    display: block;
    color: gray;
}

.card td {
    width: 170px;
}

.view {
    text-align: center;
}

.projection {
    height: 55px;
    padding: 10px;
}

.lonlat {
    width: 480px;
    height: 160px;
    padding: 10px;
    float: left;
}

.color {
    width: auto;
    height: 160px;
    padding: 10px;
    margin-left: 520px;
}

.lonlat-left {
    width: 60%;
    float: left;
}

.lonlat-right {
    width: 35%;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

/* other element */
.projection-box {
    width: 31%;
    margin-left: 10px;
    display: inline-block;
}

.projection-box select {
    width: 100%;
}

.blend-box {
    width: 31%;
    margin-left: 10px;
    display: inline-block;
}

.blend-box input {
    width: 100%;
}

.lonlat-box {
    margin-left: 10px;
}

.lonlat-box input {
    width: 100%;
    margin-bottom: 10px;
}

.color-box {
    width: 100%;
    margin-left: 5px;
}

.color-box input {
    width: 90%;
    margin-bottom: 10px;
}

.save-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: inline-block;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.save-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    background: 0 0;
}

.save-menu>li>a:hover,
.save-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}